<header>
  <slot name="header">
    <my-header></my-header>
  </slot>
</header>

<main>
  <slot></slot>
</main>

<footer></footer>

<script type="module">
  import confetti from "canvas-confetti";
  import { loadComponent } from "../dist/index.bundled.js";
  loadComponent("my-header", "./header.html");

  export default class MyLayout extends HTMLElement {
    connectedCallback() {
      this.shadowRoot.querySelector("footer").textContent = navigator.userAgent;
      const main = this.shadowRoot.querySelector("main");
      main.addEventListener("click", (e) => {
        confetti();
      });
    }
  }
</script>

<style>
  :host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
  }

  main {
    flex: 1;
  }

  footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    font-weight: lighter;
    font-size: 0.7rem;
    line-height: 0.6rem;
    padding: 0.5em;
  }
</style>
